.logo-container {
    width: 100px;
}

.logo-container>img {
    width: 100%;
}

.main-container {
    margin-top: 65px;
}

.form-container {
    max-width: 600px;
    margin: 10px auto;
}

.form-container h1 {
    font-weight: 300;
    font-size: 2.5rem;
}

.dropzone {
    border: 1px dashed #ced4da;
    border-radius: 5px;
    background: white;
}

#imageUpload {
    margin-bottom: 20px;
    min-height: 80px;
}

div.has-error>input {
    border: 1px solid #dc3545;
}

div.has-error>.form-text {
    color: #dc3545;
}

#successModal .fa-thumbs-up {
    font-size: 7.5rem;
    color: #2ebf2e;
}

#successModal .fa-thumbs-down {
    font-size: 7.5rem;
    color: #e13535;
}

#success-text {
    margin-top: 20px;
    font-size: 1.2rem;
}

/* POS V2022 */

/* Daytime Color Chart */
.cc_1 {
    background: #b5ceff !important;
}

.cc_2 {
    background: #c5d6e6 !important;
}

.cc_3 {
    background: #ddd6fc !important;
}

.cc_4 {
    background: #ccece6 !important;
}

.cc_5 {
    background: #f9d9e7 !important;
}

.cc_6 {
    background: #ffb5ef !important;
}

.cc_7 {
    background: #f9d9c9 !important;
}

.cc_8 {
    background: #f9ebc9 !important;
}

.cc_9 {
    background: #b5ceff !important;
}

.cc_10 {
    background: #d5d9e8 !important;
}

.cc_11 {
    background: #00a183 !important;
}

/*-- Color variables --*/
:root {
    --cc_1: #b5ceff !important;
    --cc_2: #c5d6e6 !important;
    --cc_3: #ddd6fc !important;
    --cc_4: #ccece6 !important;
    --cc_5: #f9d9e7 !important;
    --cc_6: #ffb5ef !important;
    --cc_7: #f9d9c9 !important;
    --cc_8: #f9ebc9 !important;
    --cc_9: #b5ceff !important;
    --cc_10: #d5d9e8 !important;
    --cc_11: #00a183 !important;
    --box-shadow-default: 0 0 35px 0 rgb(154 161 171 / 15%);
    --border-color-default: #e4e6fc;
}

.col-3.mowa-card.category-img[data-category="2"] .card {
    background-color: #ddd6fc !important;
}

.col-3.mowa-card.category-img[data-category="3"] .card {
    background-color: #d5d9e8 !important;
}

.col-3.mowa-card.category-img[data-category="4"] .card {
    background-color: #ccece6 !important;
}

.col-3.mowa-card.category-img[data-category="5"] .card {
    background-color: #f9d9e7 !important;
}

.side-nav.side-navbar {
    position: inherit;
}

.mowa-card {
    /* text-align: center; */
}

.mowa-card .card {
    margin-bottom: 10px;
}
.mowa-card a.btn-link {
    color: #000;
}

.col-3.mowa-card {
    padding-right: 0px !important;
}

.mowa-card .card-body {
    padding: 15px;
    padding-top: 10px;
    min-height: 115px;
}

.mowa-card a {
    text-align: left;
}

.select-group .col-md-4 {
    padding: 0px;
    border-right: 1px solid #cccccc40;
    border-bottom: 1px solid #cccccc40;
}

.select-group .col-md-4:nth-child(3) {
    border-right: none;
}

.purchase-totals .card-body {
    padding-top: 2px;
}

.purchase-totals input.form-control.date,
.purchase-totals input#reference-no,
.purchase-totals .btn-group.bootstrap-select.form-control {
    border: 1px solid #e4e6fc;
}


.purchase-totals .form-group {
    margin-bottom: 5px;
}

.pos-page table#product-table .product-img span {
    display: none;
}

.transaction-list-items-head {
    display: none !important;
}
.transaction-list {
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow-default);
    border-radius: 15px;
}
input#lims_productcodeSearch {
    border-radius: 0px;
}
input.form-control.date, input.form-control.reference-id, input.form-control.warehouse-select{
    border: 1px solid #e4e6fc !important;
    border-radius: 0px;
    padding: 16px;
}
.pos-page .order-list .transaction-list-items .product-title .btn {
    padding: 2px 0px;
}

.pos-page .transaction-list-items .sub-total {
    font-weight: 700;
}

.pos-page .item-quantity input.form-control.qty.numkey.input-number {
    font-size: 14px;
}

.pos-page .col-12.totals {
    /* border: 1px solid #ccc; */
    border-left: 0px;
    border-right: 0px;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    border-bottom: none;
    padding-top: 0px !important;
}

.purchase-totals .col-6.discount-btn {
    /* border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc; */
    vertical-align: -webkit-baseline-middle
}

.purchase-totals .col-6.tax-btn {
    /* border-bottom: 1px solid #ccc; */
    vertical-align: -webkit-baseline-middle;

}

.purchase-totals .tax-btn i,
.discount-btn i {
    font-size: 18px;
    padding-right: 10px;

}

.purchase-totals .totals-title {
    font-size: 14px;

}

.purchase-totals #discount,
.purchase-totals #tax,
.purchase-totals #subtotal,
.purchase-totals #item {
    font-size: 13px;
    padding-left: 10px;
    text-align: right;
}

.purchase-totals #subtotal,
.purchase-totals #item {
    text-align: right;
}

.purchase-totals .col-9 .totals-title {
    padding-left: 10px
}

.pos-page #product-table td p {
    font-size: 14px;
    font-weight: 600;
    text-align: end;
}

table.dataTable img {
    background: #fff;
    padding: 10px;
    border-radius: 0px !important;
    max-height: 100px !important;
    min-height: 100px !important;
    max-width: 130px;
}

.square-abrv {
    text-align: center;
    padding-right: 0px !important;
}

.square-abrv h1 {
    padding: 10px;
    width: 45px;
}

.bill-item, .bill-item.list-group-item {
    padding: 8px;
    /* border-top: 1px solid #f0f0f0; */
    margin-bottom: 6px;
    border-bottom: 0.8px solid #ddd
        /* box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%); */
}

.bills {
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    max-height: 70vh;
}

.bill-customer-name {
    vertical-align: middle;
    display: inline-block;
    width: 80%;
}

.bill-customer-name h4 {
    padding-top: 3px;
    font-size: 14px;
    margin-bottom: 2px;
}

.bill-date {
    text-align: center;
    display: inline-block;
}

.arrow-right {
    font-size: 14px;
    text-align: center;
    display: inline-block;
    padding: 1px 4px;
}

.arrow-right i {
    padding-top: 4px;
    vertical-align: middle;
}

.bill-total {
    text-align: center;
    display: inline-block;
}

.bill-date h5,
.bill-total h5 {
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    vertical-align: -webkit-baseline-middle;
}

span.green-badge {
    background: #8bc34a;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 5px;
}


.delete-bill {
    display: inline-block;
    color: red;
}

.bills-header {
    height: 80px;
    padding: 20px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}

.add-bill-draft {
    font-size: 30px;
}

.purchase-totals button.btn.dropdown-toggle.btn-link:after {
    display: none;
}

.purchase-totals button.btn.dropdown-toggle.btn-link {
    padding: 5px 10px !important;
}

.purchase-totals button.add-customer-btn.btn.btn-default {
    border: none;
}
.input-group.input-group-merge.mb-3.pos.customer-options {
    border: 1px solid #e4e6fc;
}

.customer-options .btn-group.bootstrap-select.input-group-btn.form-control {
    border-left: 1px solid #e4e6fc;
}

.customer-options i,
.biller-info i {
    /* color: #FF9800; */
    font-weight: 500;
}

.customer-options a {
    color: #000 !important;
}

.purchase-totals .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #000;
    font-weight: 600;
}

.biller-info .btn-group.bootstrap-select.form-control {
    width: 89%;
}

.purchase-totals .row.select-group {
    margin: 10px 0px 0px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border: 1px solid #ddd;
    border-radius: 15px;
    padding-top: 15px;
}

a#notification-icon:after {
    display: none;
}

.dropdown-menu.notif-icon.show {
    right: -6px;
}

.pos-page .navbar-header .nav-menu i {
    font-size: 16px !important;
}
span.menu-icon img {
    width: 35px;
    text-align: center;
    padding-bottom: 3px;
}


a#toggle-btn {
    z-index: 9999;
}

span.payment-option i {
    font-size: 32px;
    vertical-align: -webkit-baseline-middle;
    padding: 0px 0px 0px 20px;
}

.payment-amount .dropup .dropdown-item i {
    font-size: 40px;
    padding-right: 10px;
}
.payment-amount .dropup .dropdown-item{
    font-size: 14px;
    margin-bottom: 20px;
    padding: 10px;
}

.payment-amount .dropdown-menu {
    width: 380px;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
    border-radius: 20px;
}


span.payment-option-heading {
    width: 100%;
    padding: 10px 12px 0px;
}

.payment-amount .row {
    padding: 10px;
}

.dropdown-menu.dropdown-menu-right.show {
    /* box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%); */
}

.payment-option.dropdown-toggle {
    cursor: pointer;
}

.col-md-12.mt-1.table-container.mCustomScrollbar._mCS_2.mCS_no_scrollbar {
    background: #f7f7f7;
}

#product-table tbody {
    background: none;
}

td.listed-product-wrapper.product-img.sound-btn {
    background: #f7f7f7;
}
td.listed-product-wrapper {
    padding: 5px !important;
}

.listed-product-content {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: var(--box-shadow-default);
}

td.listed-product-wrapper.product-img.sound-btn {
    border: none !important;
}

.listed-product-content button.btn.btn-default.plus {
    border: 1px solid #f9d9c9 !important;
    border-radius: 20px;
    border-color: #f9d9c9 !important;
    color: var(--cc_7);
}

.payment-amount {
    border-radius: 50px;
}

/* mobile menu */
.row.navigation-items {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.row.navigation-items i {
    font-size: 30px;
    padding-bottom: 5px;
}

.mobile-menu-nav {
    padding: 12px;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 2px;
    position: fixed;
    bottom: 1px;
    width: 100%;
    z-index: 9989;
    box-shadow: var(--box-shadow-default);
}
#billsMobileView, #offcanvasNotifications {
    z-index: 9990;
}

@media (min-width: 992px) {
    .mobile-menu-nav {
        display: none;
    }
}
@media (min-width: 768px) {
    .sales-highlights-wrapper{
        display: none;
    }
}

@media (max-width: 767.98px) {
    .hidden-on-mobile {
        display: none !important;
    }
}

.navigation-item {
    text-align: center;
}

.menu-title {
    text-align: center;
    font-weight: 600;
}

@media (min-width: 767.98px) {

    #myTable.table-striped-columns>:not(caption)>tr>:nth-child(2n),
    #myTable.table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-accent-bg: #fff;
    }

    .table-hover>tbody>tr:hover>* {
        --bs-table-accent-bg: #fff;
    }
}

.dashly a.dropdown-item i {
    margin-right: 10px;
    font-size: 14px;
}

.dashly a.dropdown-item {
    font-size: 13px
}
.add-product.offcanvas .card {
    height: 80px;
}

.add-product.offcanvas .mowa-card .btn.btn-link {
    padding: 20px 10px;
}

.add-product.offcanvas .card-body { padding: 0px;
}

.add-product.offcanvas h5.card-title {
    font-size: 14px;
}

.add-product.offcanvas .col-3.mowa-card {
    padding-left: 5px !important;
}
.add-product.offcanvas td.listed-product-wrapper.product-img.sound-btn {
    padding: 5px;
    min-width: 145px;
}
/* Sales Highlights */
.sales-highlights-wrapper .row.bg-highlight-1 {
    background: #004481;
    min-height: 250px;
}

.sales-highlights-wrapper .row.bg-highlight-2 {
    background: #dde9f2;
    min-height: 200px;
}
.sales-highlights-wrapper .sales-highlights .card{
    border: 1px solid var(--border-color-default);
    box-shadow: var(--box-shadow-default);
    border-radius: 15px;
}
.sales-highlights-wrapper .sales-highlights {
    margin-top: -40%;
    margin-bottom: -49%;
}

.sales-highlights-wrapper .sales-highlights .card-title {
    color: var(--bs-success);
    padding: 4px 5px 4px;
    text-align: right;
}

.sales-highlights-wrapper .welcome-text.col {
    color: var(--bs-white);
    padding: 30px;
}


.sales-highlights-wrapper .highlight-heading {
    color: #024480;
    padding-bottom: 15px;
}

.sales-highlights-wrapper h5.text-muted.text-uppercase {
    color: #4dabcf !important;
    margin: 0px !important;
}
.sales-highlights-wrapper .card-body .row{
    vertical-align: middle;
    border-bottom: 1px solid var(--border-color-default);
    margin-top: 15px;
}


.sales-highlights-wrapper h4.card-title {
    margin: 0px;
}
.modal{
    z-index: 9999 !important;
}
.filter-window {
    height: 80% !important;
}
.filter-window .mowa-card .card-body {
    min-height: 60px;
    padding: 5px
}
.filter-window .mowa-card .card{
    border-radius: 10px
}
.row.main-cards {
    max-height: 288px;
    overflow-y: scroll;
}
/* Payment Modal */
.payment-modal .modal-content .modal-body.color-1 {
    background: #5eb7b7;
}

.payment-modal .modal-content .modal-body.color-2 {
    background: #1b2a49;
}

#add-payment .payment-modal .modal-content .modal-body {
    border: none;
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, 0.8);
}

.payment-modal .modal-content {
    border: none;
    position: relative;
    padding: 0 !important;
    font-size: 14px;
    border-radius: 0;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.payment-modal .modal-content .modal-header {
    padding: 0;
    border: none;
}

.payment-modal .modal-content button.close {
    position: absolute;
    top: 0;
    right: -15px;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    z-index: 1;
    text-shadow: none;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.payment-modal .modal-content .modal-body {
    border: none;
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, 0.8);
}

.payment-modal .modal-content .modal-body.color-1 {
    background: #5eb7b7;
}

.payment-modal .modal-content .modal-body.color-2 {
    background: #1b2a49;
}

.payment-modal .modal-content .modal-body .icon span {
    font-size: 10vw;
    line-height: 1;
}

@media (max-width: 767.98px) {
    .payment-modal .modal-content .modal-body .icon span {
        font-size: 100px;
    }
}

.payment-modal .modal-content .modal-body .icon-2 {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 30px;
}

.payment-modal .modal-content .modal-body a:hover {
    color: #5eb7b7;
}

.payment-modal .modal-content label {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.3);
}

.payment-modal .modal-content .form-control {
    background: transparent;
    border: none;
    border-radius: 0;
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 0;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.payment-modal .modal-content .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.2) !important;
}

.payment-modal .modal-content .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.2) !important;
}

.payment-modal .modal-content .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.2) !important;
}

.payment-modal .modal-content .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.2) !important;
}

.payment-modal .modal-content .btn-primary {
    background: #5eb7b7 !important;
    height: 52px;
    border-radius: 0px;
    width: 100%;
}

.payment-modal .form-check {
    padding: 0;
}

.payment-modal .fill-checkbox {
    --color: #47e4bb;
}

.payment-modal .fill-checkbox .fill-control-input {
    display: none;
}

.payment-modal .fill-checkbox .fill-control-input:checked~.fill-control-indicator {
    background-color: var(--color);
    border-color: var(--color);
    background-size: 80%;
}

.payment-modal .fill-checkbox .fill-control-input:checked~.fill-control-description {
    color: rgba(255, 255, 255, 0.3);
}

.payment-modal .fill-checkbox .fill-control-indicator {
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    background: transperent;
    background-size: 0%;
    background-position: center;
    background-repeat: no-repeat;
    content: 'hey';
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.payment-modal .fill-checkbox .fill-control-description {
    color: rgba(255, 255, 255, 0.3);
}

.payment-modal .form-check.disabled .fill-checkbox {
    --color: rgba(255, 255, 255, .4);
}

.payment-modal .form-check.disabled .fill-checkbox .fill-control-description {
    color: rgba(255, 255, 255, 0.4);
}
.payment-modal .form-lg-text {
    font-size: 25px;
    font-weight: 700;
}

/* Mobile Responsive Breakpoints */
@media (max-width:768px){
/*     .payment-amount {
        position: fixed;
        bottom: 85px;
        width: 63%;
        right: 0px;
        z-index: 800;
        text-align: left;
        border-radius: 0px;
    } */
    .card.purchase-totals {
    margin-bottom: 51px;
}
    .payment-amount h2{
        font-size: 18px;
    }

.payment-option i.fa-thin.fa-credit-card {
    font-size: 42px;
}
.payment-amount .dropdown-menu.dropdown-menu-right.show {
    position: fixed !important;
    margin: 0px;
    transform: translate3d(-242.667px, -44px, 0px);
    inset: auto auto 8px -19px !important;
}

}


