
.logo-container{
    width: 100px;
}
.logo-container > img{
    width: 100%;
}

.main-container {
    margin-top: 65px;
}

.form-container{
    max-width: 600px;
    margin: 10px auto;
}
.form-container h1{
    font-weight: 300;
    font-size: 2.5rem;
}

.dropzone {
    border: 1px dashed #ced4da;
    border-radius: 5px;
    background: white;
}
#imageUpload{
    margin-bottom: 20px;
    min-height: 80px;
}

div.has-error > input {
    border: 1px solid #dc3545;
}

div.has-error> .form-text {
    color: #dc3545;
}

#successModal .fa-thumbs-up {
    font-size: 7.5rem;
    color: #2ebf2e;
}

#successModal .fa-thumbs-down {
    font-size: 7.5rem;
    color: #e13535;
}

#success-text{
    margin-top: 20px;
    font-size: 1.2rem;
}
/* POS V2022 */

/* Daytime Color Chart */
.cc_1 {
    background: #b5ceff !important;
}
.cc_2 {
    background: #c5d6e6 !important;
}
.cc_3 {
    background: #ddd6fc !important;
}
.cc_4 {
    background: #ccece6 !important;
}
.cc_5 {
    background: #f9d9e7 !important;
}
.cc_6 {
    background: #ffb5ef !important;
}
.cc_7 {
    background: #f9d9c9 !important;
}
.cc_8 {
   background: #f9ebc9 !important;
}
.cc_9 {
    background: #b5ceff !important;
}

.cc_10 {
    background: #d5d9e8 !important;
}
.cc_11{
    background: #00a183 !important;
}



.side-nav.side-navbar{
    position: inherit;
}
.mowa-card{
    /* text-align: center; */
}
.mowa-card .card{
    
}
.mowa-card .card-body {
    padding: 15px;
    padding-top: 10px;
    min-height: 115px;
}
.mowa-card a{
    text-align: left;
}